<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

<body>

    <%- include('partials/header') %>
    
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto mt-5">
                <h2>Modificar producto</h2>
                <div class="card">
                    <div class="card-header">
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="nombre" class="form-label <%= locals.errors && errors.name ? 'is-invalid' : locals.old && old.name ? 'is-valid' : null %> ">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="name" value="<%= product.name %> ">
                                <span class="text-danger small"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label <%= locals.errors && errors.description ? 'is-invalid' : locals.old && old.description ? 'is-valid' : null %> " >Descripción</label>
                                <textarea id="description" class="form-control" name="description" value="" style="resize: none;"><%= product.description %> </textarea>
                                <span class="text-danger small"><%= locals.errors && errors.description ? errors.description.msg : null %> </span>
                            </div>
                            
                            <select name="category" class="form-select" id="" aria-label="Default select example">
                                <option selected hidden  value="">Seleccione la categoria</option>
                                
                                <% categories.forEach(category => { %> 

                                    <option value="<%= category %>" <%= product.category === category ? 'selected' : null %> ><%= category  %> </option>
                                
                                <% }) %> 

                            </select>
                            <span class="text-danger small"><%=  %> </span>

                            <div class="mb-3">
                                <label for="image" class="form-label">Imagen</label>
                                <input type="file" class="form-control <%= locals.errors && errors.image ? 'is-invalid' : locals.old && old.image ? 'is-valid' : null %> " id="nombre" name="image" value="" multiple>
                                <span class="text-danger small"><%= locals.errors && errors.image ? errors.image.msg : null %> </span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %> 
    
</body>
</html>