<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

<body>

    <%- include('partials/header') %>

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto mt-5">
                <h2>Agregar productos</h2>
                <div class="card">
                    <div class="card-header">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea id="description" name="description" class="form-control"></textarea> 
                            </div>
                            <select name="category" id="" class="form-select" aria-label="Default select example">
                                <option selected hidden>Seleccione la categoria</option>
                                <% categories.forEach(category => { %>


                                    <option value="<%= category %> "><%= category %> </option>

                               <% }) %> 
                            </select>
                            <div class="mb-3">
                                <label for="nombre" class="form-lebel">Imagen</label>
                                <input type="file" id="image" name="image" class="form-control">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer') %> 
    
</body>
</html>